In [4]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [5]:
full_labels = pd.read_csv('wolf_bat_labels.csv')

In [6]:
full_labels.head()

         filename  width  height class  xmin  ymin  xmax  ymax
0  1557460214.jpg   1024     768  wolf   372   226   703   496
1  1557460171.jpg   1024     768   bat   159     1   709   603
2  1557460177.jpg   1024     768   bat   289   131   580   558
3  1557460189.jpg   1024     768   bat   383   282   680   620
4  1557460188.jpg   1024     768   bat   392   359   657   687

In [7]:
grouped = full_labels.groupby('filename')

In [8]:
grouped.apply(lambda x: len(x)).value_counts()

1    32
2    15
dtype: int64

### split each file into a group in a list

In [9]:
gb = full_labels.groupby('filename')

In [10]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [14]:
len(grouped_list)

47

In [16]:
train_index = np.random.choice(len(grouped_list), size=int(0.8*len(grouped_list)), replace=False)
test_index = np.setdiff1d(list(range(len(grouped_list))), train_index)

In [17]:
len(train_index), len(test_index)

(37, 10)

In [18]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [19]:
len(train), len(test)

(47, 15)

In [20]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)