In [1]:
import numpy as np
import pandas as pd
import os
np.random.seed(1)

In [2]:
working_dir = '../jiangshi'
labels_dir = os.path.join(working_dir,'labels.csv')
full_labels = pd.read_csv(labels_dir)

In [3]:
full_labels.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,queenstown-jiangshi-normal_2019-05-09-22-13-42...,1024,768,jiangshi,842,428,971,628
1,queenstown-jiangshi-normal_2019-05-09-22-13-42...,1024,768,jiangshi,846,435,975,623
2,queenstown-jiangshi-normal_2019-05-09-22-13-42...,1024,768,jiangshi,825,440,955,637
3,queenstown-jiangshi-normal_2019-05-09-22-13-42...,1024,768,jiangshi,832,439,959,629

In [4]:
grouped = full_labels.groupby('filename')

In [5]:
grouped.apply(lambda x: len(x)).value_counts()

1    4
dtype: int64

### split each file into a group in a list

In [6]:
gb = full_labels.groupby('filename')

In [7]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [8]:
len(grouped_list)

4

In [9]:
train_index = np.random.choice(len(grouped_list), size=int(0.8*len(grouped_list)), replace=False)
test_index = np.setdiff1d(list(range(len(grouped_list))), train_index)

In [10]:
len(train_index), len(test_index)

(3, 1)

In [11]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [12]:
len(train), len(test)

(3, 1)

In [14]:
train_dir = os.path.join(working_dir, 'train_labels.csv')
test_dir = os.path.join(working_dir, 'test_labels.csv')
train.to_csv(train_dir, index=None)
test.to_csv(test_dir, index=None)